# .gitignore
.terraform/
*.tfstate
*.tfstate.backup
crash.log
*.log
*.tfplan
*.zip
*.exe
04_spot_ondemand_failover/lambda_source/build
04_spot_ondemand_failover/scripts/build
04_spot_ondemand_failover/build
terraform.tfstate.*
!terraform.tfstate